*{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.navbar-nav{
    font-size: 19px;
}
.ft-height{
    height: 9rem;
}
.pstn{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.home{
    padding-top: 7rem;
}
.size {
    font-size: 30px;
    font-weight: bold;
}
.text-muted {
    margin-top: 0px;
}
.txt {
    font-size: 13px;
    letter-spacing: 0.2rem;
}